[submodule "GNPS_URLWorkflowFormatter"]
	path = GNPS_URLWorkflowFormatter
	url = https://github.com/mwang87/GNPS_URLWorkflowFormatter
[submodule "GNPS_FBMNGroupsComparison"]
	path = GNPS_FBMNGroupsComparison
	url = https://github.com/mwang87/GNPS_FBMNGroupsComparison.git
[submodule "GNPS_MASST"]
	path = GNPS_MASST
	url = https://github.com/mwang87/GNPS_MASST.git
