[submodule "GNPS_URLWorkflowFormatter"]
	path = GNPS_URLWorkflowFormatter
	url = https://github.com/mwang87/GNPS_URLWorkflowFormatter
[submodule "GNPS_FBMNGroupsComparison"]
	path = GNPS_FBMNGroupsComparison
	url = https://github.com/mwang87/GNPS_FBMNGroupsComparison.git
[submodule "GNPS_MASST"]
	path = GNPS_MASST
	url = https://github.com/mwang87/GNPS_MASST.git
[submodule "GNPS_ExternalStructureProxy"]
	path = GNPS_ExternalStructureProxy
	url = https://github.com/mwang87/GNPS_ExternalStructureProxy.git
[submodule "ChemicalStructureWebService"]
	path = ChemicalStructureWebService
	url = https://github.com/mwang87/ChemicalStructureWebService.git
[submodule "MetabolomicsSpectrumResolver"]
	path = MetabolomicsSpectrumResolver
	url = https://github.com/mwang87/MetabolomicsSpectrumResolver.git
[submodule "GNPS_LCMSDashboard"]
	path = GNPS_LCMSDashboard
	url = https://github.com/mwang87/GNPS_LCMSDashboard.git
